.soccer-container-wrapper {
  height: calc(100% - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
  .soccer-page-row {
    width: 60%;
    height: 80%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px;
    background-color: rgba(12, 12, 12, 0.3);
    input:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    h4 {
      color: white;
      margin: 0px !important;
    }
    .soccer-page-input-label {
      display: flex;
      justify-content: flex-end;
    }
    .soccer-page-submit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      .submit-button {
        width: 20%;
      }
      button:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
    .display-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .display {
        height: 3rem;
        width: 50%;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        h5 {
          margin: 0px !important;
          color: red;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .soccer-container-wrapper {
    .soccer-page-row {
      width: 100%;
      h4 {
        font-size: medium;
      }
      .soccer-page-input-label {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .soccer-page-submit-button {
        .submit-button {
          width: 30% !important;
          margin-top: 10px !important;
        }
      }
      .display-wrapper {
        .display {
          width: 100%;
        }
      }
    }
  }
}
